

<%- include('./partials/adminheader') %>    

<div class="w-full h-screen flex items-start px-20 py-20">
    <div class="w-[25%] flex h-screen flex-col items-start">
        <div class="flex flex-col">
            <a class="block w-fit mb-2" href="/owner/adminpage">All Products</a>
            <a class="block w-fit mb-2" href="/owner/createproduct">Create new product</a>
            <a class="block w-fit mb-2" href="/owner">Create Admin</a>
        </div>
    </div>
    <div class="w-[75%] flex flex-col gap-5 h-screen">
        <div class=" flex flex-col items-center justify-center">
            <div class=" rounded-full w-20 h-20 relative -z-10  object-cover" ">
                <img class="w-full h-full border-orange-200 border-2 border-solid rounded-full " src="data:image/jpeg;base64,<%= owner.profile.toString('base64') %>" alt="">
                <a class="w-7 h-7 flex items-center justify-center rounded-full absolute top-16 right-6 " href="/owner/updateProfile/<%=owner._id %>">
                    <i class="ri-pencil-line text-black"></i>
                </a>
            </div>
            <h1 class="font-bold text-lg"> <%= owner.name%></h1>
            <h4 class="font-sans">Now you can create post</h4>
        </div>
        
            <% if (owner.products && owner.products.length > 1) { %>
                <a class="text-red-500" href="">Delete all</a>
            <% } %>
            
        <div class="flex justify-start items-center flex-wrap gap-2">
      <% owner.products.forEach((product)=>{%>
        <div class="flex items-start gap-5">
            <div class="w-60 bg-[<%= product.panelcolor%>] border-2 border-red-500 rounded-b-lg text-[<%= product.textcolor%>]">
                <div class="w-full flex justify-center items-center h-52 bg-[<%= product.bgcolor%>]">
                    <a href="/product/imageEdit/<%=product._id%>">
                        <img class="h-[12rem]" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
                            alt="">
                    </a>
                </div>
                <div class="flex justify-between items-center px-4 py-4">
                    <div>
                        <h3><%= product.name%></h3>
                        <h4>₹ <%= product.price%></h4>
                    </div>
                    <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white"  href="/product/delete/<%= product._id%>">
                        <i class="ri-delete-bin-line text-black"></i>
                    </a>
                    <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white" href="/product/edit/<%= product._id%>">
                        <i class="ri-pencil-line text-black"></i>
                    </a>
                </div>
            </div>
            
           
    </div>
      <%})%>
    </div>
</div>